/* transaction.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: red;
}

.transaction {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.transaction-inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.transaction-table th,
.transaction-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transaction-table th {
  background-color: #f2f2f2;
}

.transaction-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction-table tbody tr:hover {
  background-color: #ddd;
}
