* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.transfer {
  width: 100%;
  background: linear-gradient(to bottom, rgb(255, 187, 0), black);
  color: white;
}

.transfer-inner {
  width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transfer h1 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table thead {
  background-color: #f2f2f2;
  color: black;
}

.user-table th {
  font-weight: bold;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table td a {
  text-decoration: none;
  color: white;
}

.user-table td a:hover {
  text-decoration: underline;
}
